services:
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - GRPC_AUTH_URL=localhost:3002
      - GRPC_EVENT_URL=localhost:3003
      - JWT_SECRET=secretKey!23
    depends_on:
      - mysql
      - mongodb
      - redis

  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    environment:
      - PORT=3002
      - JWT_SECRET=secretKey!23
      - DB_TYPE=mysql
      - DB_HOST=localhost
      - DB_PORT=3306
      - DB_USERNAME=pkk
      - DB_PASSWORD=pkkPassword!23
      - DB_DATABASE=user-rdb
    depends_on:
      - mysql
      - mongodb
      - redis

  event:
    build:
      context: ./event
      dockerfile: Dockerfile
    ports:
      - "3003:3003"
    environment:
      - PORT=3003
      - MONGODB_URI=mongodb://mongodb:27017/event
      - REDIS_HOST=localhost
      - REDIS_PORT=6379
    depends_on:
      - mysql
      - mongodb
      - redis

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootPassword!23
      MYSQL_DATABASE: user-rdb
      MYSQL_USER: pkk
      MYSQL_PASSWORD: pkkPassword!23
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: event
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7.2
    ports:
      - "6379:6379"

volumes:
  mysql-data:
  mongo-data:
